@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root {
    --nightMare-blue: #6C63FF;
    --teal-black: #707070;
    --tiny-black: #003A5A;
    --selmaon-black: #222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;

}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: var(--teal-black);
    box-sizing: border-box;
}




/* nav */


.navbar-main-style {
    font-size: 1.6rem;
    font-weight: 400;
    word-spacing: 0.2rem;
}

.nav-link:not(.nav-account) {
    color: var(--nightMare-blue) !important;
}

.nav-account {
    font-size: 1.8rem;
    vertical-align: middle;
}


.navbar-brand {
    font-size: 2.2rem !important;
}

.navbar-div {
    justify-content: flex-end;
}


.left-dropdown {
    left: unset !important;
    right: 0 !important;
}

.navbar-animation {
    font-size: 1.6rem;
    color: var(--nightMare-blue);
    vertical-align: middle;
}

.SmallScreen {
    display: none;
}

.navbar-animation:hover .dropdown-show {
    transition: all 1s;
    display: block;
    font-size: 1.3rem;
    background-color: var(--nightMare-blue);

}

.dropdown-show {
    background-color: var(--nightMare-blue);
    font-size: 1.3rem;
}

.dropdown-show a {
    color: white;
}


@media (max-width:992px) {
    .SmallScreen {
        display: block;
    }

    .BigScreen {
        display: none;
    }
}




/*    About Section */



.aboutSection {
    margin-top: 5rem;
}


.inner-section {
    padding: 5rem;
}


.main-heading {
    font-size: 3rem;
    font-weight: 600;
    color: var(--selmaon-black);

}


.sub-heading {
    font-size: 1.6rem;
    color: var(--nightMare-blue);
}

.date {
    font-size: 1.3rem;
    color: var(--selmaon-black);
}



.icon1 {
    font-size: 1.6rem;
    color: var(--nightMare-blue);
    padding: 0 0.5rem 0 0;
}

.icon1:hover {
    color: var(--selmaon-black);
}


.main-paragraph {
    margin-top: 1.7rem;
    font-size: 1.6rem;
    color: var(--selmaon-black);
}





.inner-section-two {
    margin-top: 9rem;
}


.section-two-heading {
    font-size: 2rem;
    color: var(--nightMare-blue);
    font-weight: 600;
}


.company {
    display: inline-block;
    margin-left: 1.5rem;
    font-size: 1.4rem;
    color: black;

    margin-bottom: 0;
}

.icon2 {
    display: inline-block;
    font-size: 1.6rem;
    color: var(--nightMare-blue)
}

.phone {
    color: var(--nightMare-blue);

}

/* footer  */




.footer {
    padding: 5rem 0 2rem 0;
    font-size: 1rem;
}



.footer__logo__box {
    text-align: center;
    margin-bottom: 3rem;
}

.footer-logo {
    width: 15rem;
    height: auto;
}

.footer__navigation {
    border-top: 1px solid black;
    padding-top: 2rem;
    display: inline-block;
    font-size: 1.6rem;
}


.footer__list {
    list-style: none;
}


.footer__item {
    display: inline-block;
}


.footer__item:not(:last-child) {
    margin-right: 1.5rem;
}



.footer__link:link,
.footer__link:visited {
    color: var(--nightMare-blue);
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
}



.footer__copyright {
    border-top: 1px solid black;
    padding-top: 1rem;
    width: 80%;
    float: right;
    font-size: 1.4rem;
}


/* icon */



.FollowPart {
    margin-top: 4rem;
}

.follow-span {
    font-size: 1.4rem;
    font-weight: bold;
    color: black;
}

.icon {
    font-size: 1.6rem;
    color: black;
    padding: 0 0.5rem;
}


.icon:hover {
    color: var(--nightMare-blue);


}

.follower-title {
    display: inline-block;
    color: black;
    font-size: 1.4rem;
}

.folloer-ploiy {
    margin-left: 2rem;
    display: inline-block;
    font-size: 1.2rem;
    color: var(--nightMare-blue);
}





/*   Responsive Design */





@media only screen and (max-width:64em) {

    /* 1024 */
    .navbar-brand {
        margin-left: 0rem !important;
    }

    .navbar-div {
        margin-left: 2rem !important;
    }
}


@media only screen and (max-width:48em) {

    /* 768 */
    html {
        /* font-size: 9px; */
        font-size: 56.25%;
    }
}


@media only screen and (max-width:30em) {

    /* 480 */
    html {
        /* font-size: 8px; */
        font-size: 50%;
    }
}