@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root {
    --nightMare-blue: #6C63FF;
    --teal-black: #707070;
    --tiny-black: #003A5A;
    --selmaon-black: #222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;

}

html {
    /*  10px /16px  == 0.625     for percentage = 62.5% */
    /* font-size: 10px; */
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: var(--teal-black);
    box-sizing: border-box;
}




/* nav */


.navbar-main-style {
    font-size: 1.6rem;
    font-weight: 400;
    word-spacing: 0.2rem;
}

.nav-link:not(.nav-account) {
    color: var(--nightMare-blue) !important;
}

.nav-account {
    font-size: 1.8rem;
    vertical-align: middle;
}


.navbar-brand {
    font-size: 2.2rem !important;
}

.navbar-div {
    justify-content: flex-end;
}


.left-dropdown {
    left: unset !important;
    right: 0 !important;
}

.navbar-animation {
    font-size: 1.6rem;
    color: var(--nightMare-blue);
    vertical-align: middle;
}

.SmallScreen {
    display: none;
}

.navbar-animation:hover .dropdown-show {
    transition: all 1s;
    display: block;
    font-size: 1.3rem;
    background-color: var(--nightMare-blue);

}

.dropdown-show {
    background-color: var(--nightMare-blue);
    font-size: 1.3rem;
}

.dropdown-show a {
    color: white;
}


@media (max-width:992px) {
    .SmallScreen {
        display: block;
    }

    .BigScreen {
        display: none;
    }
}



/* header */

.headerPart {
    height: auto;
}

.header-container {
    padding: 5rem 2rem 0rem 2rem;
    width: 100%;
    overflow: hidden;
}

.header-left-section {
    position: relative;
    top: 5rem;
    left: 4%;
    display: inline-block;
    width: 45%;
    margin: 1rem;
}

.header-right-setion {
    position: relative;
    display: inline-block;
    width: auto;
    top: 4%;
    left: 5%;

}

.anchor_div {
    margin-bottom: 1.2rem;
    text-decoration: none;

}

.header-anchor {
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--nightMare-blue);
}

.main-heading {
    margin-bottom: 1rem;
    font-size: 4rem;
    word-spacing: 0.1rem;
    font-weight: 500;
    text-justify: auto;
}

.header-paragraph {
    font-size: 1.6rem;

}

.anchor_span {
    font-size: 2rem;
}



/* blueDiv */

.blueDiv {
    background-color: var(--nightMare-blue);
    height: 3%;
    width: 100%;
    padding: 0 1.5rem;
}




/*   Post Section*/

.postSection-heading-title {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: var(--tiny-black);
    font-weight: 500;
    text-transform: uppercase;
}

.postSection-heading-anchor {
    margin: 1rem 0;
    font-size: 2.4rem;
    text-decoration: none;
    word-spacing: 0.2rem;
    color: var(--nightMare-blue);
}

.postSection-heading-anchor a {
    text-decoration: none;
    color: var(--nightMare-blue);

}

.postSection-heading-anchor a:hover {
    color: #007bff;
}


.postSection-date {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}


.postSection-paragragh {
    font-size: 1.4rem;
}




/* Pagination */

.pagination-nav {
    margin: 5rem 5rem 7rem 5rem;
}

.pagination-link {
    padding: 1rem 2.5rem !important;

}



/* NewsLetter */



.newsLetter {
    background-color: var(--nightMare-blue);
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
    padding: 2rem 3rem;
    margin: 0 8rem;
    color: white;
}

.newsLetter-div {
    width: auto;
    padding: 2rem;
}



.titlefield {
    display: inline-block;
    padding: 2rem;
    vertical-align: middle;
}


.emailfield {
    display: inline-block;
    padding: 2rem;
    vertical-align: middle;
    width: 30%;
    text-align: center;
    position: relative;
    top: 0;
    left: 10%;
}


.newsLetter-heading {
    font-size: 2.6rem;
    margin-bottom: 2rem;
}

.newsLetter-paragraph {
    font-size: 1.3rem;
}

.form input {
    font-size: 1.5rem
}

.btn-newsLetter {
    margin-top: 2rem;
    background-color: var(--nightMare-blue);
    color: white;
    font-size: 1.6rem;
    transition: all 0.5s;
    padding: 1rem 2.5rem;
}

.btn-newsLetter:hover {
    background-color: white;
    color: var(--nightMare-blue);
}



/* footer  */




.footer {
    padding: 5rem 0 2rem 0;
    font-size: 1rem;
}



.footer__logo__box {
    text-align: center;
    margin-bottom: 3rem;
}

.footer-logo {
    width: 15rem;
    height: auto;
}

.footer__navigation {
    border-top: 1px solid black;
    padding-top: 2rem;
    display: inline-block;
    font-size: 1.6rem;
}


.footer__list {
    list-style: none;
}


.footer__item {
    display: inline-block;
}


.footer__item:not(:last-child) {
    margin-right: 1.5rem;
}



.footer__link:link,
.footer__link:visited {
    color: var(--nightMare-blue);
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
}



.footer__copyright {
    border-top: 1px solid black;
    padding-top: 1rem;
    width: 80%;
    float: right;
    font-size: 1.4rem;
}


/* icon */



.FollowPart {
    margin-top: 4rem;
}

.follow-span {
    font-size: 1.4rem;
    font-weight: bold;
    color: black;
}

.icon {
    font-size: 1.6rem;
    color: black;
    padding: 0 0.5rem;
}


.icon:hover {
    color: var(--nightMare-blue);


}

.follower-title {
    display: inline-block;
    color: black;
    font-size: 1.4rem;
}

.folloer-ploiy {
    margin-left: 2rem;
    display: inline-block;
    font-size: 1.2rem;
    color: var(--nightMare-blue);
}




/* serach design  for big screen*/




.menu-item {
    transform: scale(1);
    transition: 0.5s;
    display: block;
    backface-visibility: hidden;
}


.hide-item {
    transform: scale(0);
}


.hide-dropdown {
    transform: scale(0);
}

.ul-nav-list li:nth-child(1) a.menu-item.hide-item {
    transition-delay: 0.6s;
}

.ul-nav-list li:nth-child(2) a.menu-item.hide-item {
    transition-delay: 0.5s;
}

.ul-nav-list li:nth-child(3) a.menu-item.hide-item {
    transition-delay: 0.4s;
}

.ul-nav-list li:nth-child(4) a.menu-item.hide-item {
    transition-delay: 0.3s;
}

.ul-nav-list li:nth-child(5) a.menu-item.hide-item {
    transition-delay: 0.2s;
}

.ul-nav-list li:nth-child(6) a.menu-item.hide-item {
    transition-delay: 0.1s;
}

.ul-nav-list li:nth-child(8) a.menu-item.hide-item {
    transition-delay: 0.1s;
}



.ul-nav-list li:nth-child(1) a.menu-item {
    transition-delay: 0.1s;
}

.ul-nav-list li:nth-child(2) a.menu-item {
    transition-delay: 0.2s;
}

.ul-nav-list li:nth-child(3) a.menu-item {
    transition-delay: 0.3s;
}

.ul-nav-list li:nth-child(4) a.menu-item {
    transition-delay: 0.4s;
}

.ul-nav-list li:nth-child(5) a.menu-item {
    transition-delay: 0.5s;
}

.ul-nav-list li:nth-child(6) a.menu-item {
    transition-delay: 0.6s;
}

.ul-nav-list li:nth-child(8) a.menu-item {
    transition-delay: 0.7s;
}



.search-form {
    position: absolute;
    top: 0;
    left: 70%;
    transform: translateX(-50%);
    width: 500px;
    height: 44px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    border-bottom: 2px solid var(--selmaon-black);


}

.search-form input {
    width: 100%;
    height: 4.4rem;
    background: transparent;
    color: var(--teal-black);
    border: none;

    outline: none;
    font-size: 1.4rem;
    padding-left: 2rem;
}


.active-serach-form {
    opacity: 1;
    visibility: visible;
    transition-delay: 1s;

}





/* serach design for small screen */

.form-small-serach {
    position: relative;
    /* margin-top: 2rem;
    margin-bottom: 1.5rem; */
    margin: 2rem 3rem 1.5rem 1rem;
    width: auto;
    background: var(--nightMare-blue);
    border-radius: 0.7rem;
}

.form-small-serach input {
    height: 5rem;
    font-family: 'Lato', sans-serif;
    border: 0;
    color: var(--teal-black);
    font-size: 1.6rem;
}

.form-small-serach input[type="search"] {
    outline: 0;
    width: 100%;
    /* background: rgb(238, 238, 238);
   */
    background-color: #fff;
    padding: 0 1.6rem;
    border-radius: 0.7rem;
    appearance: none;
    transition: all 0.3s cubic-bezier(0, 0, 0.43, 1.49);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
}

.form-small-serach i {
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    width: 6rem;
    font-weight: bold;
    font-size: 2.5rem;
    background: var(--nightMare-blue);
    color: #fff;
    border-radius: 0 0.7rem 0.7rem 0;
    cursor: pointer;
    transition: all 0.5s;
    text-align: center;
}


.form-small-serach i:hover {
    transform: scale(0.8)
}

.form-small-serach input:not(:placeholder-shown) {
    border-radius: 0.7rem 0 0 0.7rem;
    width: calc(100% - 6rem);

}

.form-small-serach label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}



/* Responsive Design */



@media only screen and (max-width:1250px) {
    .search-form {

        width: 45rem;
        height: 4.3rem;

    }
}

@media only screen and (max-width:82.8125em) {

    /* 1325 */
    html {
        /* font-size: 9.3px; */
        font-size: 58.125%;
    }

    .header-image {
        width: auto;
        height: 370px;
    }

    .header-left-section {
        position: relative;
        top: 5rem;
        left: 4rem;
        display: inline-block;
        width: 45%;
        margin: 1rem;
    }

    .header-right-setion {
        position: relative;
        display: inline-block;
        width: auto;
        top: 0%;
        left: 10rem;

    }

}



@media only screen and (max-width:77em) {

    /* 1232 */
    html {
        /* font-size: 9px; */
        font-size: 56.25%;
    }

    .header-image {
        width: auto;
        height: 350px;
    }

    .header-left-section {
        position: relative;
        top: 5rem;
        left: 4rem;
        display: inline-block;
        width: 45%;
        margin: 1rem;
    }

    .header-right-setion {
        position: relative;
        display: inline-block;
        width: auto;
        top: 0%;
        left: 10rem;

    }

}

@media only screen and (max-width:68.75em) {

    /* 1100 */
    html {
        /* font-size: 8px; */
        font-size: 50%;
    }

    .header-image {
        width: auto;
        height: 300px;
    }

    .header-right-setion {
        position: relative;
        display: inline-block;
        width: auto;
        top: 0%;
        left: 5%;

    }

    .postSection-date {
        font-size: 1.4rem;

    }

    .postSection-paragragh {
        font-size: 1.7rem;

    }



    .pagination-link {
        padding: 1rem 2.5rem !important;
        font-size: 1.5rem !important;
    }
}



@media only screen and (max-width:64em) {

    /* 1024 */
    html {
        /* font-size: 7.7px; */
        font-size: 48.125%;
    }

    .navbar-brand {
        margin-left: 0rem;
    }

    .navbar-div {
        margin-left: 2rem;
    }


    .header-image {
        width: auto;
        height: 260px;
    }

    .header-right-setion {
        position: relative;
        display: inline-block;
        width: auto;
        top: 0%;
        left: 5%;

    }


    .container {
        max-width: 900px !important;
    }
}

@media only screen and (max-width:61.1875em) {

    /* 979 */
    html {
        /* font-size: 7.2px; */
        font-size: 45%;
    }

    .header-image {
        width: auto;
        height: 250px;
    }

    .header-right-setion {
        position: relative;
        display: inline-block;
        width: auto;
        top: -6rem;
        left: 5%;

    }

    .header-left-section {
        position: relative;
        top: 3rem;
        left: 4%;
        display: inline-block;
        width: 45%;
        margin: 1rem;
    }


    .card-position {
        justify-content: center;
    }


    .newsLetter-paragraph {
        font-size: 1.5rem;
    }
}






@media only screen and (max-width:53.75em) {

    /* 860 */
    .card-position {
        justify-content: safe;
    }

    .newsLetter-paragraph {
        font-size: 1.6rem !important;
    }

    .titlefield {
        display: block;
        padding: 2rem;
        text-align: center;

    }


    .emailfield {
        display: block;
        position: relative;
        top: 0;
        left: 25%;
        width: 50%;
        text-align: center;

    }

    .newsLetter-heading {
        font-size: 2.6rem;
        margin-bottom: 2rem;
    }

    .newsLetter-paragraph {
        font-size: 1.4rem;
    }

    .footer__copyright {
        font-size: 1.6rem;
    }


    .follower-title {
        font-size: 1.5rem;
    }

    .folloer-ploiy {
        font-size: 1.3rem;

    }

    .follow-span {
        font-size: 1.5rem;
    }

    .icon {
        font-size: 1.7rem;
    }

}


@media only screen and (max-width:48em) {

    /* 768 */
    html {
        /* font-size: 8px; */
        font-size: 50%;
    }

    .header-image {
        width: auto;
        height: 220px;
    }

    .header-right-setion {
        position: relative;
        display: inline-block;
        width: auto;
        left: 5%;

    }

    .main-heading {
        font-size: 3rem;
    }

    .header-paragraph {
        font-size: 1.4rem;
    }

    .header-left-section {
        position: relative;
        top: 3rem;
        left: 4%;
        display: inline-block;
        width: 45%;
        margin: 1rem;
    }

    .postSection-paragragh {
        font-size: 1.5rem;

    }

    .row {
        flex-wrap: nowrap;
    }
}


@media only screen and (max-width:41.5625em) {

    /* 665 */
    html {
        /* font-size: 9px; */
        font-size: 56.25%;
    }

    .header-right-setion {
        display: none;

    }

    .div_circle {
        display: block;
        background-color: var(--nightMare-blue);
        height: 20vh;
        transform: rotate(30deg);
        overflow: hidden;
        transition: all 0.5s;
        border-radius: 2rem;
    }

    .header-left-section {
        position: relative;
        top: 3rem;
        left: 0;
        display: block;
        width: auto;
        margin: 1rem;
        margin-bottom: 10rem;
    }

    .row {
        flex-wrap: wrap;
    }


    .img-post {
        margin-bottom: 1rem;
        height: auto;
        width: auto;
    }

    .newsLetter {
        margin: 0 2rem;
        padding: 0;
    }

    .newsLetter-div {
        width: auto;
        padding: 2rem;
    }

    .titlefield {
        display: inline-block;
        padding: 2rem;
        vertical-align: middle;
    }


    .emailfield {
        display: inline-block;
        padding: 2rem;
        vertical-align: middle;
        width: 100%;
        text-align: center;
        position: relative;
        top: 0;
        left: 0;

    }


    .newsLetter-heading {
        font-size: 2.6rem;
        margin-bottom: 2rem;
    }

    .newsLetter-paragraph {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width:30em) {

    /* 480 */
    html {
        /* font-size: 7px; */
        font-size: 43.75%;
    }

    .navbar-brand {
        margin-left: 0rem !important;
    }

    .postSection-heading-anchor {
        font-size: 2.3rem;
    }
}